{% load static %}
<!-- <header>

    <nav>
        <ul class="nav-links">
            <li class="nav-link"><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li class="nav-link"><a href="{% url 'donate' %}">Donate</a></li>
            <li class="nav-link"><a href="{% url 'trainee' %}">Trainee</a></li>
            <li class="nav-link"><a href="{% url 'viewRevenue' %}">Revenue</a></li>
            <li class="nav-link"><a href="{% url 'viewExpense' %}">Expenditure</a></li>

            <li class="nav-link"><a href="{% url 'profile' %}">Hi {{ user.username }}</a></li>
            <li class="nav-link"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="nav-link"><a href="{% url 'login' %}">Login</a></li>
            <li class="nav-link"><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<img src="{% static 'images/logo.png' %}" alt="Social Vision Logo" class="logo"> -->
<nav>
    <ul class="menu">
        <li class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Social Vision Logo"
                    class="logo"></a></li>
        {% if user.is_authenticated %}
        <li class="item"><a href="{% url 'donate' %}">Donate</a></li>
        <li class="item"><a href="{% url 'trainee' %}">Trainee</a></li>
        <li class="item"><a href="{% url 'viewRevenue' %}">Contributions</a></li>
        <li class="item"><a href="{% url 'viewExpense' %}">Expenses</a></li>
        <li class="item button"><a href="{% url 'profile' %}">Hi {{ user.first_name }}</a></li>
        <li class="item button secondary"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li class="item button"><a href="{% url 'login' %}">Login</a></li>
        <li class="item button secondary"><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
        <li class="toggle"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg></a></li>
    </ul>
</nav>


<script>
    //toggle
    const toggle = document.querySelector('.toggle');
    const menu = document.querySelector('.menu');

    function toggleMenu() {
        if (menu.classList.contains("active")) {
            menu.classList.remove("active");
        }
        else {
            menu.classList.add("active");
        }
    }

    toggle.addEventListener('click', toggleMenu, false);

    //sub menu
    const items = document.querySelectorAll('.item');

    function toggleItem() {
        if (this.classList.contains("submenu-active")) {
            this.classList.remove("submenu-active");
        }
        else {
            this.classList.add("submenu-active");
        }
    }

    for (let item of items) {
        if (item.querySelector('.submenu')) {
            item.addEventListener('click', toggleItem, false);
            item.addEventListener('keypress', toggleItem, false)
        }
    }

    function closeSubMenu(e) {
        let isClickInside = menu.contains(e.target)

        if (!isClickInside && menu.querySelector('.submenu-active')) {
            menu.querySelector('.submenu-active').classList.remove('submenu-active')
        }
    }

    document.addEventListener('click', closeSubMenu, false)
</script>