{% extends 'associate/main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/candidate.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <h1 class="hero-heading">Associate Profile</h1>
</section>

<section>
    <h2 class="section-heading">Trackers</h2>
    <div class="row">
        <div class="col-6">
            <a class="btn" href="{% url 'viewRevenue' %}"><img class="icon"
                    src="{% static 'images/icons/revenue.svg' %}" alt="" height="20px"> Donation Tracker</a>
        </div>
        <div class="col-6">
            <a class="btn" href="{% url 'viewExpense' %}"><img class="icon"
                    src="{% static 'images/icons/expenses.svg' %}" alt="" height="20px"> Expense Tracker</a>
        </div>
    </div>
    <hr class="hr-dark">
    <h2 class="section-heading">Associate Details</h2>
    <hr class="hr-short">
    <h3><img class="icon" src="{% static 'images/icons/user.svg' %}" alt="" height="30px"> Personal Details</h3>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col title">Associate ID</div>
                <div class="col">{{ associate.uniqueID }}</div>
            </div>
            <div class="row">
                <div class="col title">Full Name</div>
                <div class="col">{{ associate.firstName }} {{ associate.lastName }}</div>
            </div>
            <div class="row">
                <div class="col title">Father's Name</div>
                <div class="col">{{ associate.fatherName }}</div>
            </div>
            <div class="row">
                <div class="col title">Mother's name</div>
                <div class="col">{{ associate.motherName }}</div>
            </div>
            <div class="row">
                <div class="col title">Age</div>
                <div class="col">{{ associate.age }}</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col title">Gender</div>
                <div class="col">{{ associate.gender }}</div>
            </div>
            <div class="row">
                <div class="col title">Martial Status</div>
                <div class="col">{{ associate.martialStatus }}</div>
            </div>
            <div class="row">
                <div class="col title">Occupation</div>
                <div class="col">{{ associate.occupation }}</div>
            </div>
            <div class="row">
                <div class="col title">Education</div>
                <div class="col">{{ associate.education }}</div>
            </div>
            <div class="row">
                <div class="col title">Category</div>
                <div class="col">{{ associate.category }}</div>
            </div>
            <div class="row">
                <div class="col title">Religion</div>
                <div class="col">{{ associate.religion }}</div>
            </div>
        </div>
    </div>

    <hr class="hr-short">

    <h3><img class="icon" src="{% static 'images/icons/phone-call.svg' %}" alt="" height="30px"> Contact Details</h3>
    <hr>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col title">Contact Number</div>
                <div class="col">{{ associate.mobileNumber }}</div>
            </div>
            <div class="row">
                <div class="col title">Email Address</div>
                <div class="col">{{ associate.emailID }}</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col title">Emergency Contact Number</div>
                <div class="col">{{ associate.emergencyContact }}</div>
            </div>
        </div>
    </div>

    <hr class="hr-short">

    <h3><img class="icon" src="{% static 'images/icons/home.svg' %}" alt="" height="30px"> Residence Details</h3>
    <hr>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col title">Address</div>
                <div class="col">{{ associate.address }}</div>
            </div>
            <div class="row">
                <div class="col title">Area</div>
                <div class="col">{{ associate.area }}</div>
            </div>
            <div class="row">
                <div class="col title">Locality</div>
                <div class="col">{{ associate.locality }}</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col title">District</div>
                <div class="col">{{ associate.district }}</div>
            </div>
            <div class="row">
                <div class="col title">State</div>
                <div class="col">{{ associate.state }}</div>
            </div>
            <div class="row">
                <div class="col title">Pincode</div>
                <div class="col">{{ associate.pincode}}</div>
            </div>
        </div>
    </div>

</section>
{% endblock %}