{% load static %}

<footer class="row center">
    <div class="col">
        <h3 class="footer-heading">Contact Us</h3>
    </div>
    <div class="col contact-text">
        <h4 class="footer-subheading">Visit us at</h4>
        <p class="footer-text">Social Vision Charity Home, Plot No 64-A & 65-A, G Block, Dharampura , Near Hind Bal
            Mandir School, New Delhi-43</p>
        <h4 class="footer-subheading">Mail us at</h4>
        <p class="footer-text">
            info@socialvisionindia.org<br>
            director@socialvisionindia.org
        </p>
        <h4 class="footer-subheading">Newsletter</h4>
        <p class="footer-text">
            <a href="{% url 'newsletter' %}" class="btn btn-white">Subscribe</a>
        </p>
    </div>
    <div class="col">
        {% if name %}
        <h4>Hi {{ name }}</h4>
        <p>We have recieved your query. We will get back to you shortly.</p>
        {% else %}
        <h4>Have a QUERY?</h4>
        <hr class="hr-dark">
        <form action="{{ request.path }}" class="contact-form" method="POST">
            {% csrf_token %}
            <label for="name">Full Name</label><br>
            <input type="text" name="name"><br>
            <label for="email">Email Address</label><br>
            <input type="text" name="email"><br>
            <label for="query">Query</label><br>
            <textarea name="query"></textarea><br>
            <button class="btn-white" type="submit">Send</button>
        </form>
        {% endif %}
    </div>
</footer>