{% extends 'main/main.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
<section class="hero">
  <h1 class="hero-heading">Together We Can</h1>
  <p class="hero-text">Make a World a better place for everyone.</p>
  <div class="btn-group">
    <button class="btn">❤ Donate Now</button>
    <button class="btn">Know More</button>
  </div>
</section>

<section class="whoWeAre">
  <div class="row">
    <div class="col">
      <h1 class="section-heading">WHO WE ARE</h1>
      <p class="section-text">
        Social Vision Charity Home is an effort to raise the underprivileged
        sections of the society by giving priority to the women and children.
        The main Centre situated in the urban part of Najafgarh, the south west
        border of Delhi, we work for the cause of Humanity. We believe in
        executing a system of Caring, Sharing and Empowering. We have been
        featured in various magazines, weeklies, newspapers and radio shows. We
        were honored by the visit of Most Rev. Vincent Consessavo, Retired
        Archbishop of Delhi Archdiocese. The recent visit of Mr. Kailash Gahlot,
        The Transport and Environment Minister of Delhi and Ms. Saumya Sharma
        IAS, SDM Najafgarh, during the COVID Campaign was a matter of immense
        honor.
      </p>
      <button class="btn">Read More</button>
    </div>
    <div class="col">
      <img class="section-image" src="{% static 'images/whoweare-image.jpg' %}" alt="Who We Are Image"
        class="whoWeAre-img" />
    </div>
  </div>

  <hr />

  <div class="row" style="align-items: flex-start;">
    <div class="col">
      <h3 class="col-heading">👁 Vision</h3>
      <p class="col-text">
        A society with social commitment for a social transformation to witness
        sustainable development by sharing, caring and empowering each other.
      </p>
    </div>
    <div class="col">
      <h3 class="col-heading">🎯 What is Our AIM?</h3>
      <p class="col-text">
        Every citizen in this country is responsible for its functioning in a
        productive manner. Our aim is to build a society of integrity and
        respect, where everyone strives to transform into a better citizen,
        being committed for a social change.
      </p>
    </div>
    <div class="col">
      <h3 class="col-heading">🖐 We Need Your Help.</h3>
      <p class="col-text">
        A small helping hand of yours can be the reason for a family’s survival.
        It’s our time to make everyone realize that this world is a better place
        for everyone with no bars and boundaries of financial status. Please
        show your humanity by supporting and donating.
      </p>
    </div>
  </div>
</section>

<section class="donate section-dark">
  <h1 class="section-heading">Provide a Helping Hand</h1>
  <p class="section-text">
    We can’t make it alone. We need your help. Your small help can bring a big
    change.
  </p>
  <button class="btn btn-outline">Make a Donation</button>
</section>

<section class="creatingImpact">
  <h1 class="section-heading">Creating Impact</h1>

  <div class="grid">
    {% for impact in impacts %}
    <div class="impact-card">
      <img src="{{ impact.image1.url }}" alt="Impact" class="card-image" />
      <h3 class="card-heading">{{ impact.name }}</h3>
      <a class="btn" href="{% url 'impact' %}">Read More</a>
    </div>
    {% endfor %}
  </div>
</section>

<section class="help section-dark">
  <div class="row">
    <div class="col">
      <h1 class="section-heading">❤ We Need Your Help</h1>
      <p class="section-text">
        A small helping hand of yours can be the reason for a family’s survival.
        It’s our time to make everyone realize that this world is a better place
        for everyone with no bars and boundaries of financial status. Please
        show your humanity by supporting and donating.
      </p>
      <button class="btn btn-outline">VOLUNTE ER</button>
    </div>
    <div class="col">
      <img src="{% static 'images/helpus-image.jpg' %}" alt="Help Image" class="help-image" />
    </div>
  </div>
</section>

{% include 'main/contact.html' %} {% endblock %}