{% extends 'main/main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <h1 class="hero-heading">Login</h1>
</section>

<section>
    <form method="POST" action="" class="col">
        {% csrf_token %}
        <h2 class="section-heading">Welcome Back!</h2>
        <p>Enter your username and password below to login</p>
        <hr class="hr-short">
        <table>
            <tbody>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" name="password"></td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'reset_password' %}" style="color:black; margin: 10px;">Forgot Password?</a>
        {% for message in messages %}
        <p>{{message}}</p><br>
        {% endfor %}

        <button class="btn btn-success" type="submit" name="Submit">Login</button>
    </form>
</section>
{% endblock %}