{% load static %}
<header>
    <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Social Vision Logo">
    </a>

    <nav>
        <ul class="nav-links">
            <!-- <li class="nav-link"><a href="{% url 'covid' %}">COVID-19 Help</a></li> -->
            {% if user.is_authenticated %}
            <li class="nav-link"><a href="{% url 'donate' %}">Change Maker</a></li>
            <li class="nav-link"><a href="{% url 'trainee' %}">Trainee</a></li>
            <li class="nav-link"><a href="{% url 'finance' %}">Finance</a></li>
            <li class="nav-link"><a href="{% url 'profile' %}">Hi {{ user.username }}</a></li>
            <li class="nav-link"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="nav-link"><a href="{% url 'about' %}">About Us</a></li>
            <li class="nav-link"><a href="{% url 'impact' %}">Creating Impact</a></li>
            <li class="nav-link"><a href="{% url 'gallery' %}">Media & Gallery</a></li>
            <li class="nav-link"><a href="#">Get Involved</a></li>
            <li class="nav-link"><a href="{% url 'donate-1' %}">Donate</a></li>
            <li class="nav-link"><a href="{% url 'login' %}">Login</a></li>
            <li class="nav-link"><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>