{% extends 'main/main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <h1 class="hero-heading">Reset Password</h1>
</section>

<section>
    <h2>Password Reset Instructions Sent</h2>
    <hr class="hr-short">
    <p style="text-align: center;">We’ve emailed you instructions for setting your password, if an account exists with
        the email you entered. You
        should receive them shortly.
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your
        spam folder.</p>
</section>
{% endblock %}