{% extends 'main/main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <h1 class="hero-heading">Profile</h1>
</section>

<section class="profile-section">
        <div class="col" style="text-align: center;">
            <h2 class="section-heading">User Details</h2>
            <hr class="hr-short">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h4>Username</h4>
                        </td>
                        <td>
                            <p>{{ user.username }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Email Address</h4>
                        </td>
                        <td>
                            <p>{{ user.email }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column text-center">
            <h2>View As</h2>
            <hr class="hr-short">
            <div class="row">
                <a href="{% url 'donate' %}" class="col btn btn-outline-red"><img class="icon"
                        src="{% static 'images/icons/heart.svg' %}" alt="" height="18px"> Benefactor</a>
                    <p class="col">OR</p>
                <a href="{% url 'trainee' %}" class="cols btn btn-outline-red"><img class="icon"
                        src="{% static 'images/icons/approved.svg' %}" alt="" height="20px"> Trainee</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}