form {
    max-width: 75%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input, select, textarea {
    margin: 10px 10px 15px 0px;
    /* width: 100%; */
    padding: 10px;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 20px;
}

label {    
    color: black;
    font-size: 1em;
    font-weight: 700;
}

form li {
    list-style: none;
    font-weight: 300;
}
    /* 
    form li input {
        width: 100%;
    } */


