{% extends 'main/main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <h1 class="hero-heading">Trainee Form</h1>
</section>

<section>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <h2><img class="icon" src="{% static 'images/icons/user.svg' %}" alt="" height="40px"> Personal Information</h2>

        {{form.user}}<br>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col title">{{form.fatherName.label}}</div>
                    <div class="col">{{form.fatherName}}</div>
                </div>
                <div class="row">
                    <div class="col title">{{form.motherName.label}}</div>
                    <div class="col">{{form.motherName}}</div>
                </div>
                <div class="row">
                    <div class="col title">{{form.dateOfBirth.label}}</div>
                    <div class="col">{{form.dateOfBirth}}</div>
                </div>
                <div class="row">
                    <div class="col title">{{form.bloodGroup.label}}</div>
                    <div class="col">{{form.bloodGroup}}</div>
                </div>
                <div class="row">
                    <div class="col title">{{form.gender.label}}</div>
                    <div class="col">{{form.gender}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col title">{{form.martialStatus.label}}</div>
                    <div class="col">{{form.martialStatus}}</div>
                </div>
                <div class="row">
                    <div class="col title">{{form.category.label}}</div>
                    <div class="col">{{form.category}}</div>
                </div>
                <div class="row">
                    <div class="col title">{{form.religion.label}}</div>
                    <div class="col">{{form.religion}}</div>
                </div>
                <div class="row">
                    <div class="col title">{{form.occupation.label}}</div>
                    <div class="col">{{form.occupation}}</div>
                </div>
                <div class="row">
                    <div class="col title">{{form.education.label}}</div>
                    <div class="col">{{form.education}}</div>
                </div>
            </div>
        </div>

        <hr class="hr-dark">

        <h2><img class="icon" src="{% static 'images/icons/phone-call.svg' %}" alt="" height="40px"> Contact</h2>

        <div class="row">
            <div class="col">
                <label>{{form.mobileNumber.label}}</label>
                {{form.mobileNumber}}<br>
            </div>
            <div class="col">
                <label>{{form.emergencyContact.label}}</label>
                {{form.emergencyContact}}<br>
            </div>
        </div>

        <hr class="hr-dark">

        <h2><img class="icon" src="{% static 'images/icons/home.svg' %}" alt="" height="40px"> Address</h2>

        <div class="row">
            <div class="col">
                <label>{{form.address.label}}</label><br>
                {{form.address}}<br>
            </div>
            <div class="col">
                <label>{{form.area.label}}</label>
                {{form.area}}<br>
                <label>{{form.locality.label}}</label>
                {{form.locality}}<br>
                <label>{{form.district.label}}</label>
                {{form.district}}<br>
                <label>{{form.state.label}}</label>
                {{form.state}}<br>
                <label>{{form.pincode.label}}</label>
                {{form.pincode}}<br>
            </div>
        </div>

        <hr class="hr-dark">

        <h2>Images</h2>

        <div class="row">
            <div class="col">
                <label>{{form.profilePicture.label}}</label>
                {{form.profilePicture}}<br>
            </div>

            <div class="col">
                <label>{{form.signature.label}}</label>
                {{form.signature}}<br>
            </div>
        </div>

        <hr class="hr-dark">

        <h2>Documents</h2>
        <div class="row">
            <div class="col">
                <label>{{form.documentType.label}}</label>
                {{form.documentType}}<br>
            </div>
            <div class="col">
                <label>{{form.documentNumber.label}}</label>
                {{form.documentNumber}}<br>
            </div>
            <div class="col">
                <label>{{form.documentImage.label}}</label>
                {{form.documentImage}}<br>
            </div>
        </div>

        <hr class="hr-dark">

        <div class="row">
            {{form.declaration}}
            <label>{{form.declaration.label}}</label>
        </div>

        {{form.errors}}
        <br>
        <button class="btn btn-success" type="submit" name="Register">Register</button>
    </form>
</section>
{% endblock %}